<div class="section white">
  <div class="row container">
    <div class="col offset-s2 s8">
      <div class="card">
        <div class="card-image">
          <img src="assets/img/contact.jpg">
          <span class="card-title amber-text">Contact Us</span>
        </div>
        <div class="card-content amber">
          <h4>
            Rabbit Rescue vzw
            <br />
            Konijnenstraat 1
            <br />
            9000 Gent
            <br />
            België
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
