<div class="section white">
  <div class="row container">
    <form class="s12">
      <p>
        <input id="name" placeholder="Name" type="text" />
      </p>
      <p>
        <input id="age" placeholder="Age" type="number" />
      </p>
      <h6 class="grey-text text-lighten-1">Gender:</h6>
      <p>
        <input id="male" name="gender" type="radio" value="M" />
        <label for="male">Male</label>
        <input id="female" name="gender" type="radio" value="F" />
        <label for="female">Female</label>
      </p>
      <div class="divider"></div>
      <p>
        <input id="desexed" type="checkbox" value="desexed" />
        <label for="desexed">Desexed</label>
      </p>
      <div class="divider"></div>
      <p>
        <input id="vaccinated" type="checkbox" value="vaccinated" />
        <label for="vaccinated">Vaccinated</label>
      </p>
      <div class="divider"></div>
      <p>
        <input id="fee" placeholder="Adoption Fee" type="number" />
      </p>
      <p>
        <input type="button" class="btn btn-large" value="Add Rabbit to the list" />
      </p>
    </form>
  </div>
</div>
