<div class="section white">
  <div class="row container">
    <div class="col offset-s2 s8">
      <div class="card">
        <div class="card-content indigo white-text">
          <h3>George</h3>
          <dl class="flow-text">
            <dt>Age:</dt>
            <dd>1 Year 11 Months</dd>
            <dt>Gender:</dt>
            <dd>Male</dd>
            <dt>Vaccinated:</dt>
            <dd>Yes</dd>
            <dt>Desexed:</dt>
            <dd>Yes</dd>
            <dt>Adoption Fee:</dt>
            <dd>50€</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col offset-s2 s8">
      <div class="card">
        <div class="card-content pink white-text">
          <h3>Gretel</h3>
          <dl class="flow-text">
            <dt>Age:</dt>
            <dd>4 Months</dd>
            <dt>Gender:</dt>
            <dd>Female</dd>
            <dt>Vaccinated:</dt>
            <dd>Yes</dd>
            <dt>Desexed:</dt>
            <dd>Yes</dd>
            <dt>Adoption Fee:</dt>
            <dd>30€</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
